.hero {
  display: flex;
}

.hero__slider-container {
  display: flex;
  width: 100%;
  height: 60vh; /* висота контейнера слайдера */
}
.hero__slide--inactive .hero__category {
  background-color: transparent;
}
.hero__slide {
  position: relative;
  flex: 1;
  transition: flex 0.6s ease-in-out; /* Зміна тривалості і типу анімації */
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__slide--active {
  flex: 6; /* 60% */
}

.hero__slide--inactive {
  flex: 2; /* 20% */
}

.hero__slide--inactive:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero__category {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  width: fit-content;
  max-width: 80%;
  text-align: right;
}

.hero__details {
  display: none;
  opacity: 0;
  transform: translateX(100px); /* Зміщення вправо */
  transition: opacity 0.7s ease-in, transform 0.7s ease-in;
}

.hero__details--active {
  display: block;
  opacity: 1;
  transform: translateX(0); /* Повертаємо на місце */
}

.hero__vertical-text {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 24px;
  color: white;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top;
  transition: color 0.3s ease-in;
  z-index: 1;
}

.hero__vertical-text--active {
  display: none;
}

.hero__button {
  background-color: #ff9900;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero__button:hover {
  background-color: #ff7700;
}

.hero__list {
  counter-reset: list-counter; /* Обрізка лічильника */
  margin-bottom: 20px;
  text-align: left;
}
.hero__title {
  text-align: left;
  margin-bottom: 20px;
}
.hero__list li {
  counter-increment: list-counter; /* Інкремент лічильника */
  list-style: none; /* Приховати стандартні маркери списку */
  position: relative; /* Потрібно для псевдоелемента */
  padding-left: 30px; /* Додаємо відступ для нумерації */
  margin-bottom: 10px;
}

.hero__list li::before {
  content: counter(list-counter, decimal-leading-zero); /* Додаємо 01, 02 і т.д. */
  position: absolute;
  left: 0;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ff9800; /* Колір для нумерації */
  font-weight: bold; /* Нумерація жирним */
  transition: color 0.3s ease-in-out; /* Плавна зміна кольору */
}
.hero__search-wrapper {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;

  align-items: center;
  justify-content: center;
}
.hero__pulse-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Округлість контейнера */
  background-color: rgba(255, 255, 255, 0.2); /* Світліший напівпрозорий фон */
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Початкова біла тінь */
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3); /* Світліший білий */
  }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); /* Повністю прозора тінь */
  }
}

.hero__svg-plus,
.hero__svg-minus {
  position: absolute;
  fill: #fff; /* Колір іконок */
  transition: fill 0.3s ease;
}

.hero__pulse-container:hover .hero__svg-plus,
.hero__pulse-container:hover .hero__svg-minus {
  fill: #ff9800; /* Зміна кольору при наведенні */
}
.hero__slide--inactive:hover .hero__search-wrapper {
  display: flex;
}

@media screen and (max-width: 768px) {
  .hero__vertical-text {
    writing-mode: horizontal-tb;
    transform: none;
    top: -50%;
  }
  .hero__slider-container {
    flex-direction: column;
    height: 80vh;
  }
  .hero__category {
    max-width: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 20px;
  }
}
@media screen and (max-width: 550px) {
  .hero__button {
    width: 100%;
  }
}
