:root {
  --main: #ff9800;
  --text: white;
  --main-bg: black;
  --placeholder: #5e5e5f;
  --accent-color: darkorange;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

.button {
  background-color: var(--main); /* Основний фон */
  color: var(--text); /* Колір тексту */
  padding: 10px 20px; /* Внутрішні відступи */
  border: none; /* Без рамки */
  border-radius: 5px; /* Закруглені кути */
  font-size: 16px; /* Розмір шрифту */
  cursor: pointer; /* Курсор при наведенні */
  transition: background-color 0.3s ease; /* Плавний перехід для фону */
}

.button:hover {
  background-color: var(--accent-color); /* Зміна кольору при наведенні */
}
body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--main-bg);
  color: var(--text);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.margin-section {
  margin-bottom: 80px;
}
