[class*='__container'] {
  position: relative;
  box-sizing: content-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 clamp(1.25rem, -1.4384rem + 11.0294vw, 10.625rem);
  // padding: 0 clVal(1360,1920);
}
:root {
  --text: white;
  --placeholder: #5e5e5f;
}
$main: #daa520;
$text: white;
$accent-color: #ffd700;
$main-bg: black;
body {
  padding-left: 40px;
  font-family: 'Oswald', sans-serif;
  background-color: $main-bg;
  color: $text;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.margin-section {
  margin-bottom: 80px;
}

.button {
  background-color: $main; // Основний фон
  color: $text; // Колір тексту
  padding: 10px 20px 15px; // Внутрішні відступи
  border: none; // Без рамки
  border-radius: 5px; // Закруглені кути
  font-size: 16px; // Розмір шрифту
  cursor: pointer; // Курсор при наведенні
  transition: background-color 0.3s ease; // Плавний перехід для фону
  min-width: 250px;
  border-radius: 30px;

  &:hover {
    background-color: $accent-color; // Зміна кольору при наведенні
  }
}
