.regular-text {
  font-size: 16px;
  line-height: 1.5;
  @include media(768) {
    font-size: 14px;
  }
  &--m {
    @extend .regular-text;
    font-size: 18px;
  }
}
.title {
  font-size: clVal(768, 1600, 40, 60);

  &--m {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }
}
.main-text {
  color: $main !important;
  font-weight: bold;
}
