@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

sup {
  color: inherit;
}

button,
a {
  cursor: pointer;
}

[class*=__container] {
  position: relative;
  box-sizing: content-box;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 clamp(1.25rem, -1.4384rem + 11.0294vw, 10.625rem);
}

:root {
  --text: white;
  --placeholder: #5e5e5f;
}

body {
  padding-left: 40px;
  font-family: "Oswald", sans-serif;
  background-color: black;
  color: white;
}

.margin-section, .contacts-hero, .faq-hero, .accordion-wrapper, section.creative-slider, .services, .why-choose-us {
  margin-bottom: 80px;
}

.button {
  background-color: #daa520;
  color: white;
  padding: 10px 20px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 250px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
}
.button:hover {
  background-color: #ffd700;
}

.regular-text, .hero__list li, .company-stats .stat p, .slider-navigation__text, .regular-text--m {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 768.98px) {
  .regular-text, .hero__list li, .company-stats .stat p, .slider-navigation__text, .regular-text--m {
    font-size: 14px;
  }
}
.regular-text--m {
  font-size: 18px;
}

.title {
  font-size: clamp(2.5rem, 2.5rem + (3.75 - 2.5) * (100vw - 48rem) / (100 - 48), 3.75rem);
}
.title--m {
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.main-text {
  color: #daa520 !important;
  font-weight: bold;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #ffffff;
}
@media (max-width: 768.98px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }
}

.contact-form {
  max-width: 50%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  background-color: #333;
  border: none;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}
.contact-form form .input-group {
  display: flex;
}
.contact-form form .input-group input {
  width: 48%;
}
.contact-form form .input-group input:first-child {
  margin-right: 4%;
}
@media (max-width: 768.98px) {
  .contact-form {
    max-width: 100%;
  }
}

.contact-info {
  max-width: 40%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-info__numbers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-info__numbers a {
  color: white;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
}
.contact-info__emails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-info__emails a {
  color: white;
  color: #fff;
  font-weight: 300;
  line-height: 1;
}
.contact-info .social-links {
  margin-top: 20px;
}
.contact-info .social-links a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}
.contact-info .social-links a:hover {
  text-decoration: underline;
}
@media (max-width: 768.98px) {
  .contact-info {
    max-width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  font-size: 14px;
}

.aside {
  display: grid;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  grid-template-rows: max-content 1fr;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: black;
  justify-items: center;
}
.aside-list {
  display: flex;
  transform: rotate(270deg);
}
.aside-list__link {
  display: inline-block;
  padding: 10px;
  width: 100%;
  color: white;
}
.aside-list__link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.slide:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 1; */
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;
  bottom: -300px;
  left: 0;
  width: 100%;
  opacity: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 20px;
  line-height: 1.3;
}
.slide .content h1 {
  color: var(--text);
  text-transform: uppercase;
  line-height: 1;
}
.slide.current .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 1;
  transform: translateY(-300px);
  transition: all 0.7s ease-in-out;
  z-index: 1;
}
.slide.current .content .button {
  align-self: start;
}
@media (min-width: 900.98px) {
  .slide.current .content {
    transform: translateX(700px) !important;
  }
}
.slide:first-child {
  background: url("https://stroy.codium.com.ua/wp-content/uploads/2024/09/pexels-expect-best-79873-323780-scaled.jpg") no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url("https://stroy.codium.com.ua/wp-content/uploads/2024/09/pexels-life-of-pix-2459-scaled.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("https://stroy.codium.com.ua/wp-content/uploads/2024/09/pexels-francesco-ungaro-28589265-scaled.jpg") no-repeat center top/cover;
}

.buttons {
  width: -moz-fit-content;
  width: fit-content;
}
.buttons button {
  border-color: transparent;
  background-color: transparent;
  color: #e5ebf3;
  cursor: pointer;
  padding: 13px 15px;
  outline: none;
}
.buttons button:hover {
  opacity: 0.5;
}

@media (min-width: 640px) {
  .slide .content {
    bottom: 0;
    top: 0;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    left: -400px;
    padding: clamp(0.625rem, 0.625rem + (1.25 - 0.625) * (100vw - 48rem) / (100 - 48), 1.25rem);
    line-height: 1.6;
  }
  .slide .content > p {
    font-size: 20px;
  }
  .slide.current .content {
    transform: translateX(500px);
    left: -500px;
    max-width: 80%;
  }
}
@media (min-width: 900.98px) {
  .slide .content {
    left: -500px;
  }
}
.slider-navigation__container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 40px;
}
.slider-navigation__container .buttons {
  display: flex;
  align-items: center;
}
.slider-navigation__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(1.25rem, 1.25rem + (2.5 - 1.25) * (100vw - 48rem) / (100 - 48), 2.5rem);
}

.arrow-icon {
  font-size: 16px;
  /* Зменште розмір за потреби */
  transition: transform 0.3s;
  /* Додайте анімацію при наведенні */
}

.slide-number {
  color: var(--placeholder);
  display: inline-flex;
  gap: 5px;
  width: -moz-max-content;
  width: max-content;
}
.slide-number__current {
  line-height: 1;
  font-size: 34px;
  font-weight: 500;
  color: white;
}

.company-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-right: 0;
}

.company-info {
  grid-column: 1/span 1;
}
.company-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.company-info p {
  margin-bottom: 10px;
  line-height: 1.5;
}
.company-info .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #121212;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.company-image {
  grid-column: 2/span 1;
}
.company-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.company-stats {
  grid-column: 1/span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.company-stats .stat {
  text-align: center;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.company-stats .stat h3 {
  font-size: 36px;
  font-weight: 500;
}
.company-stats .stat p {
  color: #bbb;
  width: 50%;
  text-align: left;
}

.container {
  position: relative;
  text-align: center;
}

.text {
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-align: left;
  margin-bottom: 40px;
}

.text-content {
  max-width: 80%;
  margin: auto;
}

.shadow {
  color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  position: absolute;
  left: 15%;
  white-space: nowrap;
  top: -12px;
  animation: fadeInShadow 1s 1s forwards;
  /* Затримка на 1 секунду для підложки */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeInShadow {
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 900px) {
  .company-block {
    grid-template-columns: 1fr;
  }
  .company-info,
  .company-stats {
    grid-column: 1/-1;
    /* Елементи займуть всю ширину сітки */
  }
  .company-image {
    grid-column: 1/-1;
    /* Елементи займуть всю ширину сітки */
    text-align: center;
  }
  .company-image img {
    width: 80%;
  }
}
@media screen and (max-width: 650px) {
  .company-image img {
    width: 100%;
  }
  .company-stats {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 900px) {
  .shadow {
    display: none;
  }
}
.reviews-section {
  background-color: var(--main-bg);
  color: var(--text);
  text-align: center;
  overflow: hidden;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 650px;
  margin: auto;
}

.review {
  padding: 0 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.review:hover {
  transform: scale(1.02) rotate(1deg);
}

.review-author {
  font-weight: bold;
  color: #ffd700;
  font-style: italic;
  text-align: left;
  margin-bottom: 30px;
}

.review-text {
  font-style: italic;
  margin-bottom: 10px;
  position: relative;
}
.review-text::before {
  content: "“";
  font-size: 2rem;
  position: absolute;
  top: -10px;
  left: -10px;
  color: #ffd700;
}
.review-text::after {
  content: "“";
  font-size: 2rem;
  position: absolute;
  bottom: -100%;
  right: 20px;
  color: #ffd700;
}

.hero {
  display: flex;
}

.hero__slider-container {
  display: flex;
  width: 100%;
  height: 60vh;
  /* висота контейнера слайдера */
}

.hero__slide--inactive .hero__category {
  background-color: transparent;
}

.hero__slide {
  position: relative;
  flex: 1;
  transition: flex 0.6s ease-in-out;
  /* Зміна тривалості і типу анімації */
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__slide--active {
  flex: 6;
  /* 60% */
}

.hero__slide--inactive {
  flex: 2;
  /* 20% */
}
.hero__slide--inactive:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero__category {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  text-align: right;
}

.hero__details {
  display: none;
  opacity: 0;
  transform: translateX(100px);
  /* Зміщення вправо */
  transition: opacity 0.7s ease-in, transform 0.7s ease-in;
}

.hero__details--active {
  display: block;
  opacity: 1;
  transform: translateX(0);
  /* Повертаємо на місце */
}

.hero__vertical-text {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 24px;
  color: white;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left top;
  transition: color 0.3s ease-in;
  z-index: 1;
}

.hero__vertical-text--active {
  display: none;
}

.hero__list {
  counter-reset: list-counter;
  /* Обрізка лічильника */
  margin-bottom: 20px;
  text-align: left;
}

.hero__title {
  text-align: left;
  margin-bottom: 20px;
}

.hero__list li {
  counter-increment: list-counter;
  /* Інкремент лічильника */
  list-style: none;
  /* Приховати стандартні маркери списку */
  position: relative;
  /* Потрібно для псевдоелемента */
  padding-left: 30px;
  /* Додаємо відступ для нумерації */
  margin-bottom: 10px;
}
.hero__list li::before {
  content: counter(list-counter, decimal-leading-zero);
  /* Додаємо 01, 02 і т.д. */
  position: absolute;
  left: 0;
  font-weight: 900;
  letter-spacing: 1px;
  color: #daa520;
  /* Колір для нумерації */
  font-weight: bold;
  /* Нумерація жирним */
  transition: color 0.3s ease-in-out;
  /* Плавна зміна кольору */
}

.hero__search-wrapper {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.hero__pulse-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* Округлість контейнера */
  background-color: rgba(255, 255, 255, 0.2);
  /* Світліший напівпрозорий фон */
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    /* Початкова біла тінь */
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.3);
    /* Світліший білий */
  }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    /* Повністю прозора тінь */
  }
}
.hero__svg-plus,
.hero__svg-minus {
  position: absolute;
  fill: #fff;
  /* Колір іконок */
  transition: fill 0.3s ease;
}

.hero__pulse-container:hover .hero__svg-plus,
.hero__pulse-container:hover .hero__svg-minus {
  fill: #daa520;
  /* Зміна кольору при наведенні */
}

.hero__slide--inactive:hover .hero__search-wrapper {
  display: flex;
}

@media screen and (max-width: 768px) {
  .hero__vertical-text {
    writing-mode: horizontal-tb;
    transform: none;
    top: -100%;
    text-align: left;
  }
  .hero__slider-container {
    flex-direction: column;
    height: 80vh;
  }
  .hero__category {
    max-width: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 20px;
  }
}
@media screen and (max-width: 550px) {
  .hero__button {
    width: 100%;
  }
}
.dependence {
  margin-bottom: 81px;
}
.dependence__title {
  margin-bottom: 20px;
  text-align: left;
}
@media (max-width: 1000.98px) {
  .dependence__title {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.dependence-container {
  display: grid;
  flex: 1;
  gap: 5px;
}
.dependence__conntent {
  display: flex;
  gap: 12px;
}
.dependence__wrapper-img {
  min-height: 100%;
  flex: 1;
}
@media (max-width: 1000.98px) {
  .dependence__wrapper-img {
    display: none;
  }
}
.dependence__wrapper-img img {
  position: sticky;
  top: 60px;
  max-width: 100%;
}
.dependence-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  padding: 35px;
  top: 50px;
  /* Відстань від верху сторінки, де картки "злипаються" */
  width: 100%;
  max-width: 795px;
  min-height: 250px;
  background: #111;
  z-index: 0;
  /* Базовий z-індекс */
  transform: scale(1);
  transition: transform 0.3s ease, z-index 0.3s ease, margin 0.3s ease;
}
@media (max-width: 1000.98px) {
  .dependence-card {
    padding: 26px;
  }
}
.dependence-card__title {
  line-height: 1.11;
  margin-bottom: 22px;
  font-size: 36px;
}
.dependence-card__number {
  font-size: 33px;
  text-align: right;
  line-height: 0.90909;
  color: #daa520;
}
.dependence-card--primary {
  background: #a1a4a7;
}
.dependence-card--primary .button {
  align-self: flex-end;
  display: inline-flex;
  justify-content: center;
}
@media (max-width: 768.98px) {
  .dependence-card--primary .button {
    align-self: center;
  }
}
.dependence-card--primary .title--lg {
  text-align: left;
}
@media (max-width: 768.98px) {
  .dependence-card--primary .title--lg {
    text-align: center;
  }
}
@media (max-width: 768.98px) {
  .dependence-card--primary .regular-text--md {
    text-align: center;
  }
}
.dependence-card--primary .dependence-card__content {
  padding-top: 20px;
}

.why-choose-us {
  background-color: #111;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}
.why-choose-us h2 {
  font-size: 28px;
}
.why-choose-us ul {
  list-style: none;
  padding: 0;
}
.why-choose-us ul li {
  margin: 20px 0;
  font-size: 16px;
}
.why-choose-us ul li strong {
  font-weight: bold;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services .service-item {
  flex: 1 1 200px;
  padding: 10px;
  text-align: center;
  color: #daa520;
}
.services__container .shadow {
  left: 5%;
}

.repair-steps {
  padding: 40px 20px;
  background-color: #111;
}
.repair-steps h2 {
  font-size: 28px;
}
.repair-steps ol {
  padding-left: 20px;
}
.repair-steps ol li {
  margin: 20px 0;
  font-size: 16px;
}
.repair-steps ol li strong {
  font-weight: bold;
}

section.creative-slider {
  overflow: hidden;
}

.slider-heading {
  text-align: center;
  margin: 0;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.slider-heading p {
  margin-bottom: 0px;
  color: #d51f0f;
  font-weight: 700;
  padding: 0px 0px;
}

.slider-heading h1 {
  margin: 0px;
  color: #383632;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin-top: 0;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-size: 46px;
}

.creative-slider .slider-row {
  margin-left: -15vw;
  margin-right: -15vw;
  overflow: hidden;
}

.creative-slider .swiper {
  width: 100%;
  mask-image: linear-gradient(to right, transparent 0, #000 20%, #000 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0, #000 30%, #000 70%, transparent 100%);
}

.creative-slider .swiper-slide {
  text-align: center;
}

.product-box .product-box--inner {
  -webkitt-display: flex;
  display: flex;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: transform;
}

.product-box .product-box--inner img {
  width: 100%;
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: transform;
}

.product-box:hover img {
  transform: scale(1.1);
  transition: all 0.5s cubic-bezier(61, 10, 88, 10);
}

.product-box:hover .product-overlay {
  opacity: 0.8;
}

.product-box:hover .price-box {
  opacity: 1;
  margin-top: 0px;
}

.product-box--inner .product-overlay {
  transition: all 0.5s cubic-bezier(0.61, 1, 0.88, 1);
  z-index: 1;
  background: #383632;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
}

.product-box--inner .price-box {
  background: #fff;
  z-index: 9;
  height: 130px;
  width: 130px;
  color: #d51f0f;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: all 0.5s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: transform;
  margin-top: 15px;
}

.product-details {
  margin-top: 20px;
}

.product-details h2 {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
}

.product-details span.tag-name {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
  padding: 0px 5px;
}

/* ======== Sticky Footer ========= */
.sticky-footer {
  position: fixed;
  width: 100%;
  background: #333;
  z-index: 999;
  bottom: 0;
}

.sticky-footer .footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  padding-right: 15px;
}

.creditd a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.social ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}

.social ul li a {
  display: flex;
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.social ul li a img {
  max-width: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-gap: 20px;
}
@media (max-width: 768.98px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:nth-child(odd) {
  grid-column: span 3;
}
@media (max-width: 768.98px) {
  .card:nth-child(odd) {
    grid-column: span 1;
  }
}
.card:nth-child(even) {
  grid-column: 5/2;
}
@media (max-width: 768.98px) {
  .card:nth-child(even) {
    grid-column: 1;
  }
}
.card h3 {
  margin-top: 0;
  color: #daa520;
}

.accordion {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid #daa520;
}
.active,
.accordion:hover {
  background-color: #111;
}

.accordion:after {
  content: "+";
  color: #daa520;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.panel {
  padding: 0 18px;
  background-color: #111;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-hero__container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #a1a4a7;
}
.faq-hero__container * {
  color: black;
}
@media (max-width: 768.98px) {
  .faq-hero__container {
    min-height: 100vh;
  }
}

.contacts-hero {
  background-color: #a1a4a7;
}
.contacts-hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.contacts-hero__container * {
  color: black;
  max-width: 40%;
}
@media (max-width: 1500.98px) {
  .contacts-hero__container * {
    max-width: 60%;
  }
}
@media (max-width: 768.98px) {
  .contacts-hero__container * {
    max-width: 100%;
  }
}

.contacts__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.contacts__contents button {
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
}
@media (max-width: 900.98px) {
  .contacts__contents button {
    width: 100%;
    align-self: self-start;
  }
}
@media (max-width: 900.98px) {
  .contacts__contents {
    flex-direction: column;
  }
}
.contacts-map {
  background-color: #a1a4a7;
}
.contacts-map__container {
  position: relative;
  top: -175px;
}

.contact-card {
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  max-width: 400px;
  width: 100%;
}
.contact-card__text {
  margin-bottom: 20px;
}

.contact-card h2 {
  margin-bottom: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: white;
  gap: 10px;
  align-items: center;
}
.info-item svg {
  fill: #daa520;
}

.info-item .material-icons {
  font-size: 24px;
  color: #ff6600;
  margin-right: 10px;
}

.social-media {
  margin-top: 20px;
}
.social-media svg {
  fill: #daa520;
}
.social-media__title {
  margin-bottom: 10px;
}
.social-media__list {
  display: flex;
  gap: 10px;
}

.social-media .material-icons {
  font-size: 30px;
  color: #ff6600;
  margin-right: 10px;
  cursor: pointer;
}

.social-media .material-icons:hover {
  color: #333;
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  color: #ffffff;
}
@media (max-width: 768.98px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }
}

.contact-form {
  max-width: 50%;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  background-color: #333;
  border: none;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}
.contact-form form .input-group {
  display: flex;
}
.contact-form form .input-group input {
  width: 48%;
}
.contact-form form .input-group input:first-child {
  margin-right: 4%;
}
@media (max-width: 768.98px) {
  .contact-form {
    max-width: 100%;
  }
}

.contact-info {
  max-width: 40%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-info__numbers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-info__numbers a {
  color: white;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
}
.contact-info__emails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-info__emails a {
  color: white;
  color: #fff;
  font-weight: 300;
  line-height: 1;
}
.contact-info .social-links {
  margin-top: 20px;
}
.contact-info .social-links a {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}
.contact-info .social-links a:hover {
  text-decoration: underline;
}
@media (max-width: 768.98px) {
  .contact-info {
    max-width: 100%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo--black {
  padding-left: 60px;
  color: black;
}

.vbp-header-menu-button__svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scaleX(-1);
}

.vbp-header-menu-button__svg line {
  stroke: white;
  stroke-dasharray: 100%;
  stroke-dashoffset: 0%;
  transition: transform 0.3s, stroke-dashoffset 0.4s;
  transform-origin: center;
  stroke-width: 3px;
}

.vbp-header-menu-button__svg .top {
  transform: translateY(-35%);
  -webkit-transform: translateY(-35%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  -o-transform: translateY(35%);
}

.vbp-header-menu-button__svg .middle {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
}

.vbp-header-menu-button__svg .bottom {
  transform: translateY(33%);
  -webkit-transform: translateY(33%);
  -moz-transform: translateY(33%);
  -ms-transform: translateY(33%);
  -o-transform: translateY(33%);
  stroke-dasharray: 100%;
  stroke-dashoffset: 9px;
}

.vbp-header-menu-button__svg:hover .bottom {
  stroke-dashoffset: 0%;
}

/*** Mode Croix ***/
body.menu-open .vbp-header-menu-button__svg .top {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .middle {
  transform: scaleX(0.1);
  -webkit-transform: scaleX(0.1);
  -moz-transform: scaleX(0.1);
  -ms-transform: scaleX(0.1);
  -o-transform: scaleX(0.1);
  opacity: 0;
}

body.menu-open .vbp-header-menu-button__svg line.bottom {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  stroke-linecap: round;
}

body.menu-open .vbp-header-menu-button__svg .bottom {
  stroke-dashoffset: 0%;
}

body.menu-open .aside {
  width: auto;
  justify-items: end;
}

body.menu-open .aside-list {
  transform: rotate(0deg);
  flex-direction: column;
}

.nav-list * {
  color: white;
}

.nav-link {
  padding: 10px;
  width: 100%;
  display: inline-block;
}
.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.aside-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}/*# sourceMappingURL=style.css.map */