.company-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-right: 0;
}

.company-info {
  grid-column: 1 / span 1;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
}

.company-image {
  grid-column: 2 / span 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.company-stats {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  .stat {
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    h3 {
      font-size: 36px;
      font-weight: 500;
    }

    p {
      @extend .regular-text;
      color: #bbb;
      width: 50%;
      text-align: left;
    }
  }
}

.container {
  position: relative;
  text-align: center;
}

.text {
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-align: left;
  margin-bottom: 40px;
}

.text-content {
  max-width: 80%;
  margin: auto;
}

.shadow {
  color: rgba(255, 255, 255, 0.3);
  font-size: 3rem;
  position: absolute;
  left: 15%;
  white-space: nowrap;
  top: -12px;
  animation: fadeInShadow 1s 1s forwards;

  /* Затримка на 1 секунду для підложки */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInShadow {
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 900px) {
  .company-block {
    grid-template-columns: 1fr;
  }

  .company-info,
  .company-stats {
    grid-column: 1 / -1;

    /* Елементи займуть всю ширину сітки */
  }

  .company-image {
    grid-column: 1 / -1;

    /* Елементи займуть всю ширину сітки */

    img {
      width: 80%;
    }

    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .company-image img {
    width: 100%;
  }

  .company-stats {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .shadow {
    display: none;
  }
}
